<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gromchetuner">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:label="Гитарный тюнер &quot;Громче!&quot;"
        android:theme="@style/Theme.GuitarTuner">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>